<%= render 'components/banner' %>
<div class="container flexbox">
  <h1>Alchithèque</h1>

  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
            <div class="col-xs-12 col-sm-4">
              <h4> <%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
              <%= render 'components/card', cocktail: cocktail %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

</div>




