<div class="container flexbox">
  <h1>Add a cocktail to the Alchithèque</h1>
  <div class="container flexbox">
    <%= render 'components/form_cocktail', cocktail: @cocktail %>
    <br>
    <%= link_to "Back to list", cocktails_path, class: "btn btn-primary"%>
  </div>
</div>

